@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --dark-blue: #051d3b;
    --white: #fafafa;
    --font-family: 'Montserrat', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.container{
    width: 693px; 
    margin: 0 auto 0 auto; 
    text-align: center;
    background-color: #0d131ac9;
}

.navbar {
    
    height: 80px;
    background-color: rgb(182, 170, 170);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .logo img{
    width: 70%;
    max-width: 250px;
    min-width: 100px;
    max-height: 280px;
}

/*menu*/

.menu{

}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.menu ul li{
    margin: 0 25px;
    display: flex;
    justify-content: center;
}

.menu ul li a {
    
    text-decoration: none;
    color: #000102;
}

.foto-datos{
    padding-top: 15px;
    
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.78), rgba(255, 255, 255, 0.78)), url("./img/fondo.jpg");
    
    background-repeat: no-repeat;
    
    height: 100;
    width: 100%;
}



.foto-datos ul li{
    font-size: 18px;
    color:#000102;
    

}

.avatar{
    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 100px;
    width: 100px;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
  
}

.datos ul{
    display:flex;
    text-align: left;
    
    
}


.presentacion{
    color:#000102;
    font-weight: 700;
    font-size:17px;
    
    padding-bottom: 10px;
    padding-top: 10px;
    background-color:0d131ac9;
    padding-bottom: 15px;
}

form {
    margin: 0 auto;/* Centramos el formulario */
    padding-top: 15px; 
    padding-bottom: 15px;
    width: 400px;   /* Sin ancho no podemos centrar el formulario */
    background-color: var(--white); /* Color blanco para el formulario */
    padding: 2px; /* separamos los bordes del form del resto de elementos */
    border-radius: 10px; /* Redondeamos los bordes del form */
    
 }

 h2 {
    margin-left: auto;
    color: rgb(85, 126, 240);
    padding-bottom: 15px;
    padding-top: 15px;
}

input, textarea {
    padding: 5px; /* Separamos la letra del interior (contenido) en los inputs de los bordes */
}

label {
    display: block; /* Ahora los inputs quedan debajo de los label */
    padding: 5px; /* Separando espacios internos */
}

li {
    list-style: none;
    margin: 10px; /* dando márgenes a todos los elementos de la lista */
}

.btn{
    margin-top: 20px; /* Damos un margen individual para el contenedor del botón */
}

button {
    width: 40%;
    margin-left: auto;
    background-color: rgb(96, 160, 219);
    border-radius: 10px;
    
}


footer{
  
   margin-bottom: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
   color: rgb(68, 163, 241);
  
    background-color:rgb(19, 18, 18);
    
}